<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Технология разработки ПО </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <style type="text/css">
        .progress {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
      <h3 class="text-center">Успеваемость студентов по дисциплине "Технология разработки ПО"</h3>
  </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            {% for object in object_list %}
            <div class="well">
                <div class="row">
                    <div class="{% if user.is_authenticated %}col-xs-4{% else %}col-xs-6{% endif %}">
                        <input class="form-control" value="{{ object.name }}" disabled>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="col-xs-1">
                        <a href="/raiting_reduce/{{ object.id }}" class="btn btn-danger">
                            <span class="glyphicon glyphicon-minus"></span>
                        </a>
                    </div>
                    {% endif %}
                    <div class="col-xs-6">
                        <div class="progress">
                            <div class="progress-bar" style="width: {{ object.rating }}%">
                                <span>{{ object.rating }}%</span>
                            </div>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="col-xs-1">
                        <a href="/raiting_add/{{ object.id }}" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>
$('.progress-bar').each(function( index ) {
  if (parseInt($( this ).text()) < 40) {
      $( this ).addClass('progress-bar-danger')
  } else if (parseInt($( this ).text()) < 60){
      $( this ).addClass('progress-bar-warning')
  } else {
      $( this ).addClass('progress-bar-success')
  }
});
</script>
</body>
</html>